extend layout 
block content
	h1 Hierarchical Clustering
	br
	p #{distance} Distance and #{linkage} Linkage
	br 
	p Rand Index: #{randIndex}
	form(action='/renderEval', method='post')
		p 
		input(type="submit", name="Evaluate Rand Index") 
	script
		include branch.js