doctype
html
	head 
		title Feed Clustering
		link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='http://d3js.org/d3.v3.min.js')
	script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js')
	body
		header
			h1 COS 435 - Feed Clustering
		.main-content
			block content
